<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; Copyright <%= date(new Date(), 'YYYY') %> | <%= config.description %><br>
    </div>
  </div>
</footer>